apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  namespace: arr-stack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      nodeSelector:
        type: worker1  # Keep or customize as per your requirements
      securityContext:
        fsGroup: 1000
      containers:
        - name: prowlarr
          image: lscr.io/linuxserver/prowlarr:1.34.1
          ports:
            - containerPort: 9696
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/London"
          volumeMounts:
            - name: prowlarr-config
              mountPath: /config
            - name: prowlarr-data-backup
              mountPath: /data/Backup
            - name: downloads
              mountPath: /data/downloads
      volumes:
        - name: prowlarr-config
          persistentVolumeClaim:
            claimName: prowlarr-config-pvc
        - name: prowlarr-data-backup
          persistentVolumeClaim:
            claimName: prowlarr-data-backup-pvc
        - name: downloads
          persistentVolumeClaim:
            claimName: arrs-downloads-pvc
