apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
  namespace: audiobookshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      containers:
        - name: audiobookshelf
          image: ghcr.io/advplyr/audiobookshelf:2.17.2

          ports:
            - containerPort: 3005
              protocol: TCP

          envFrom:
            - configMapRef:
                name: audiobookshelf-configmap
            # - secretRef:
            #     name: audiobookshelf-container-env

          securityContext:
            allowPrivilegeEscalation: false

          volumeMounts:
            - mountPath: /audiobooks
              name: audiobookshelf-data
              subPath: audiobooks
            - mountPath: /podcasts
              name: audiobookshelf-data
              subPath: podcasts
            - mountPath: /config
              name: audiobookshelf-data
              subPath: config
            - mountPath: /metadata
              name: audiobookshelf-data
              subPath: metadata
      volumes:
        - name: audiobookshelf-data
          persistentVolumeClaim:
            claimName: audiobookshelf-data-pvc

      restartPolicy: Always
