apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: arr-stack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      nodeSelector:
        type: worker1  # Keep or customize as per your requirements
      securityContext:
        fsGroup: 1000
      containers:
        - name: sonarr
          image: lscr.io/linuxserver/sonarr:latest
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
          ports:
            - containerPort: 8989
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/London"
          volumeMounts:
            - name: sonarr-config
              mountPath: /config
            - name: sonarr-tvshows
              mountPath: /data/tvshows
            - name: downloads
              mountPath: /data/downloads
            - name: sonarr-data-backup
              mountPath: /data/Backup
      volumes:
        - name: sonarr-config
          persistentVolumeClaim:
            claimName: sonarr-config-pvc
        - name: sonarr-tvshows
          persistentVolumeClaim:
            claimName: sonarr-tvshows-pvc
        - name: downloads
          persistentVolumeClaim:
            claimName: arrs-downloads-pvc
        - name: sonarr-data-backup
          persistentVolumeClaim:
            claimName: sonarr-data-backup-pvc
