apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyseerr
  labels:
    app: jellyseerr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyseerr
  template:
    metadata:
      labels:
        app: jellyseerr
    spec:
      nodeSelector:
        type: mason-hp-z440-workstation  # Keep or customize as per your requirements
      # securityContext:
      #     fsGroup: 1001
      containers:
        - name: jellyseerr
          image: fallenbagel/jellyseerr:2.7.1
          # securityContext:
          #   runAsUser: 911
          #   runAsGroup: 1001
          ports:
            - containerPort: 5055
          env:
            - name: LOG_LEVEL
              value: debug
            - name: TZ
              value: "Europe/London"
          volumeMounts:
            - name: jellyseerr
              mountPath: /app/config
      volumes:
        - name: jellyseerr
          persistentVolumeClaim:
            claimName: jellyseerr-data-pvc
