apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: arr-stack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
    spec:
      nodeSelector:
        type: worker1  # Keep or customize as per your requirements
      securityContext:
        fsGroup: 1000
      containers:
        - name: radarr
          image: lscr.io/linuxserver/radarr:latest
          ports:
            - containerPort: 7878
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/London"
          volumeMounts:
            - name: radarr-config
              mountPath: /config
            - name: radarr-movies
              mountPath: /data/movies/
            - name: downloads
              mountPath: /data/downloads
      volumes:
        - name: radarr-config
          persistentVolumeClaim:
            claimName: radarr-config-pvc
        - name: radarr-movies
          persistentVolumeClaim:
            claimName: radarr-movies-pvc
        - name: downloads
          persistentVolumeClaim:
            claimName: arrs-downloads-pvc
