apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: home-assistant
  template:
    metadata:
      labels:
        app: home-assistant
    spec:
      containers:
        - name: home-assistant
          image: home-assistant/home-assistant:2025.3.1
          ports:
            - containerPort: 8123
              protocol: TCP

          envFrom:
            # - configMapRef:
            #     name: linkding-configmap
            # - secretRef:
            #     name: linkding-container-env

          securityContext:
            allowPrivilegeEscalation: true
            runAsUser: 0

          volumeMounts:
            - mountPath: /config
              name: home-assistant-config
      volumes:
        - name: home-assistant-config
          persistentVolumeClaim:
            claimName: home-assistant-config
