apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: arr-stack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      nodeSelector:
        type: worker1  # Keep or customize as per your requirements
      securityContext:
        fsGroup: 1000
      containers:
        - name: jellyfin
          image: lscr.io/linuxserver/jellyfin:2021.12.16
          ports:
            - containerPort: 8096
            - containerPort: 8920  # optional https
            - containerPort: 7359
              protocol: UDP
            - containerPort: 1900
              protocol: UDP
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Etc/UTC"
          volumeMounts:
            - name: jellyfin-config
              mountPath: /config
            - name: radarr-movies
              mountPath: /data/movies/
            - name: sonarr-tvshows
              mountPath: /data/tvshows
      volumes:
        - name: jellyfin-config
          persistentVolumeClaim:
            claimName: jellyfin-config-pvc
        - name: radarr-movies
          persistentVolumeClaim:
            claimName: radarr-movies-pvc
        - name: sonarr-tvshows
          persistentVolumeClaim:
            claimName: sonarr-tvshows-pvc
