apiVersion: apps/v1
kind: Deployment
metadata:
  name: plex-server
  labels:
    app: plex-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: plex-server
  template:
    metadata:
      labels:
        app: plex-server
    spec:
      hostNetwork: false

      containers:
        - name: plex
          image: plexinc/pms-docker:latest

          ports:
            - containerPort: 32400
              name: plex
              protocol: TCP

          envFrom:
            - configMapRef:
                name: plex-configmap
            # - secretRef:
            #     name: audiobookshelf-container-env

          securityContext:
            allowPrivilegeEscalation: true

          volumeMounts:
            - mountPath: /volume1/Movies
              name: plex-media
            - mountPath: /volume1/TV_Shows
              name: plex-media
            - mountPath: /config
              name: plex-config-volume
          livenessProbe:
            tcpSocket:
              port: 32400
            initialDelaySeconds: 60
            periodSeconds: 5
      volumes:
        - name: plex-media
          persistentVolumeClaim:
            claimName: plex-media-pvc
        - name: plex-config-volume
          persistentVolumeClaim:
            claimName: plex-config-pvc
        - name: radar-movies-volume
          persistentVolumeClaim:
            claimName: radarr-movies-pvc
